*, body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

:root {
    --primary-color: rgb(87, 3, 3);
    --green-color: rgb(23, 94, 12);
}

header {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    padding-bottom: 0;
}

header > .logo {
    width: 10rem;
    height: 4rem;
}

header > .logo img {
    width: 100%;
    height: 100%;
}

header > .navElements {
    display: flex;
    list-style: none;
    align-items: center;
    margin-right: -40%;
}

header > .navElements > li > a {
    color: black;
    text-decoration: none;
    font-weight: 600;
}

.verticalBar {
    width: 3px;
    height: 80%;
    background-color: var(--primary-color);
    margin: 0 12px;
}

header > .rightElements {
    display: flex;
    align-items: center;
}

header > .rightElements > span {
    margin-right: 1rem;
}

header > .rightElements > .toggleBars {
    cursor: pointer;
    outline: none;
    border: none;
    background-color: white;
}

header > .rightElements > .toggleBars > .bar{
    background-color: var(--primary-color);
    width: 2rem;
    height: 5px;
    margin-bottom: 5px;
}

.lapSystem__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 1rem;
}

.lapSystem__logo {
    box-shadow: 3px 3px 2px lavender;
    width: 12rem;
    height: 4rem;
    padding: 4px;
}

.lapSystem__header  img {
    width: 100%;
    height: 100%;
}

.lapSystem__header > ul {
    display: flex;
    list-style: none;
}

.lapSystem__header > ul a {
    color: black;
    margin: 0 1rem;
    text-decoration: none;
}

.lapSystem__header  > .lapSystem__signBtn {
    background-color: var(--green-color);
    color: white;
    border-radius: 25px;
    padding: .5rem 2rem;
    text-decoration: none;
    font-weight: 600;
}

.pageDivider {
    display: flex;
    align-items: center;
    overflow: hidden;
}

.pageDivider > .leftAnchor, .rightAnchor {
    width: 3rem;
    height: 3rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.pageDivider > .leftAnchor {
    margin-left: -1.5rem;
}

.pageDivider > .rightAnchor {
    margin-right: -1.5rem;
}

.pageDivider > .middleAnchor {
    flex: 1;
    background-color: var(--primary-color);
    height: .8rem;
    margin-left: -.5rem;
    margin-right: -.5rem;
}

.heroSection {
    margin-top: 2rem;
}
.heroSection > img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.heroArea {
    position: relative;
    height: 20rem;
  }
  
  .heroArea .wrapper {
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    height: 100%;
  }
  
  .heroArea .item {
    width: 100%;
    z-index: 99;
    height: 60vh;
  }
  
  .heroArea .item > img {
    width: 100%;
    height: 100%;
  }
  
  .heroArea .item .heroText {
    position: absolute;
    z-index: 100;
    background: rgba(255, 255, 255, .5);
    bottom: 5rem;
    left: 8%;
    width: 25rem;
    color: black;
    padding: 1rem;
  }
  
  .heroArea .item .heroText p {
    font-size: 1.1rem;
  }
  
  .heroArea .heroBtn {
    font-size: 3rem;
    position: absolute;
    top: 50%;
    z-index: 5;
    color: var(--green-color);
    cursor: pointer;
  }
  
  .heroArea .nextBtn {
    right: 0;
  }
  
  .heroArea .wrapper .owl-theme .owl-dots {
    width: 100%;
    z-index: 5;
    position: absolute;
    bottom: -3rem;
  }
  .heroArea .wrapper .owl-theme .owl-dots .owl-dot {
  
  }
  .heroArea .wrapper .owl-theme .owl-dots .owl-dot span{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--green-color);
    background-color: transparent;
  }
  .heroArea .wrapper .owl-theme .owl-dots .owl-dot.active span{
    background-color: var(--green-color);
  }
  
  .foodlanceHeroArea {
      margin-bottom: 10rem;
  }
@media screen and (min-width: 1400px) {
    .foodlanceHeroArea, .heroArea {
        margin-bottom: 15rem;
    } 
}
@media screen and (min-width: 1500px) {
    .foodlanceHeroArea, .heroArea {
        margin-bottom: 20rem;    
    } 
}
  .foodlanceHeroArea .wrapper .owl-theme .owl-dots .owl-dot span{
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    background-color: transparent;
  }
  .foodlanceHeroArea .wrapper .owl-theme .owl-dots .owl-dot.active span{
    background-color: var(--primary-color);
  }
  .foodlanceHeroArea .heroBtn {
    top: 50%;
    z-index: 5;
    color: var(--primary-color);
  }

.lapSystem__about {
    background-color: var(--green-color);
    color: white;
    width: 80%;
    margin: 10rem auto 5rem;
    padding: 1rem 1rem 3rem;
    position: relative;
}

.lapSystem__about h3 {
    margin-left: 5%;
}

.lapSystem__about p {
    font-size: 1rem;
    margin-top: .5rem;
    line-height: 1.4rem;
}

.lapSystem__about > a {
    background-color: white;
    padding: .3rem 2rem;
    border-radius: 25px;
    color: var(--green-color);
    text-decoration: none;
    position: absolute;
    right: 5%;
    bottom: 0;
}

.lapSystem__about > a > span {
    font-size: 1.5rem;
    display: inline-block;
}

.lineHeaders {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.lineHeaders > div{
    width: 40%;
    padding: 2px;
    background-color: var(--green-color);
}

.lineHeaders > h4 {
    font-size: 1.3rem;
}

.lapSystem__resources {
    margin-top: 2rem;
}

.lapSystem__container {
    display: flex;
    justify-content: space-around;
}

.lapSystem__resource {
    width: 19rem;
}

.lapSystem__resourceHeader {
    background-color: var(--green-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.lapSystem__resourceHeader > img {
    width: 3rem;
    height: 3rem;
}

.lapSystem__resourceBody {
    box-shadow: 0px 5px 5px lavender;
    padding: 1rem 2rem;
}

.lapSystem__resourceBody > h4 {
    line-height: 1.5rem;
}
.lapSystem__resourceBody > h4 > span {
    background-color: var(--green-color);
    color: white;
    border-radius: 50%;
    padding: 0px 2px;
    font-size: 1.5rem;
    margin-left: 1rem;
}

.lapSystem__resourceBody > p {
    margin-top: 2rem;
    font-size: .9rem;
}

.lapSystem__resourceBody > img {
    width: 4rem;
    height: 4rem;
    margin: 2rem auto 0;
    display: block;
}
.lapSystem__resourceBtn {
    background-color: var(--green-color);
    color: white;
    width: 12rem;
    display: block;
    text-align: center;
    border-radius: 20px;
    margin: 2rem auto;
    padding: 5px;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
}

.wwb__section {
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.wwb__section > h3 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2rem;
}

.wwbs {
    display: flex;
    justify-content: space-around;
}

.wwb {
    width: 15rem;
    position: relative;
}

.wwb > img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    margin: 0 auto;
    display: block;
}

.wwb > div {
    background-color: lavender;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    right: 20%;
}

.wwb > p {
    text-align: center;
    font-size: .9rem;
    margin-top: 1rem;
}

.hiw__section {
    margin-top: 2rem;
}

.hiws {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;

}

.hiw {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 15%;
}

.low-hiw {
    margin-top: 4rem;
}

.hiw__imgContainer {
    background-color: var(--green-color);
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hiw__imgContainer > img {
    width: 4rem;
}

.hiw > h5 {
    font-weight: 700;
    margin: .5rem auto;
    font-size: 1.1rem;
}

.hiw > p {
    font-size: .9rem;
    text-align: center;
}

.startNow__section {
    display: flex;
    align-items: center;
    background-color: rgba(245, 245, 245, .6);
    padding: 0 5%;
    width: 80%;
    margin: 0 auto;
}

.startNow__section > img {
    display: block;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    margin-right: -2rem;
    position: relative;
    z-index: 1;
}

.startNow__section .startNow__sectionGreenBg {
    background-color: rgba(23, 94, 12, .6);
    height: 100%;
    padding: 2rem;
    flex: 1;
}

.startNow__section .startNow__sectionGreenBg h4 {
    margin-bottom: 1rem;
    text-align: center;
}

.startNow__section .startBtns {

}

.startNow__section .startBtns > a {
    background-color: var(--green-color);
    color: white;
    padding: .7rem 1rem;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    display: block;
}

.startNow__section .startBtns > div {
    font-size: 3rem;
    padding: 0;
    color: var(--green-color);
    margin-top: -1rem;
    margin-left: 2rem;
}

.ULFSE__section {
    background-color: var(--green-color);
    color: white;
    text-align: center;
    padding: 3rem;
    margin-top: 5rem;
    position: relative;
}


/* ======= Update ======== */

.ULFSE__section .leftCircles {
    position: absolute;
    top: -3rem;
    left: 5%;
}

.ULFSE__section .bigGreenCircle {
    width: 6rem;
    height: 6rem;
    background-color: var(--green-color);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.ULFSE__section .smallWhiteCircle {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: white;
}

.ULFSE__section .rightCircles {
    position: absolute;
    top: -3rem;
    right: 5%;
}

/* ===== Update ====== */


.ULFSE__section h1 {
    font-size: 2rem;
}

.ULFSE__section .emptyWhiteTriangle {
    width: 5rem;
    height: 5rem;
    background-color: white;
    position: absolute;
    top: 0;
    left: 47%;
    clip-path: polygon(50% 61%, 0 0, 100% 0);
}

.FSE__section {
    width: 85%;
    margin: 0 auto;
    border: 1px solid lavender;
    padding: 1rem;
    position: relative;
    z-index: 1;
    margin-top: -2.5rem;
    background-color: white;
}

.FSE__section .emptyGreenTriangle {
    background-color: var(--green-color);
    position: absolute;
    width: 5rem;
    height: 5rem;
    top: -.5rem;
    left: 47%;
    clip-path: polygon(50% 61%, 0 0, 100% 0);   
}

.FSE__cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 3rem;
}

.FSE__card {
    width: 20rem;
    display: flex;
    justify-content: space-between;
    padding-right: .5rem;
    align-items: center;
    box-shadow: 0 0 8px silver;
    padding-top: 2rem;
    padding-bottom: 1rem;
}

.FSE__card > img {
    width: 9rem;
    height: 9rem;
    border-radius: 50%;
    margin-right: .3rem;
}

.FSE__cardContent {

}

.FSE__cardContent > h3 {
    color: var(--green-color);
    font-size: 1.4rem;
}

.FSE__cardContent > p {
    font-size: .9rem;
}

.FSE__cardContent > a {
    display: block;
    background-color: var(--green-color);
    color: white;
    border-radius: 25px;
    padding: 5px;
    text-decoration: none;
    text-align: center;
    margin-top: 1rem;
}

.lapSystem__footer .row1 button {
    background-color: var(--green-color);
}

.lapSystem__footer .row2 {
    background-color: var(--green-color);
}

main {
    width: 80%;
    margin: 2rem auto;
}

.categoriesSection {
    cursor: pointer;
    position: relative;
}

.categoryContent {
    display: flex;
    justify-content: space-between;
}

.categoryContent > .category {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    padding: 1rem 0;
    text-decoration: none;
}

.categoryContent > .category img {
    width: 4rem;
    height: 4rem;
    margin-bottom: 15px;
}

.categoryContent > .category h5 {
    color: var(--primary-color);
    font-size: 1rem;
}

.categoriesBar {
    padding: .7rem;
    background-color: var(--primary-color);
    margin-top: 1rem;
}

.categoriesSection > .categoriesBtn {
    background-color: var(--primary-color);
    border: none;
    outline: none;
    color: white;
    border-radius: 5px;
    padding: .5rem 1.5rem;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 1rem;
}

.activeCategory {
    background-color: var(--primary-color);
}

.category.activeCategory h5 {
    color: white;
}

.categoriesSection > .fa {

}

.categoryBody {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 1rem 3% 1rem 8%;
    margin-top: 1rem;

}

.categoryBody__header {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

.categoryBody__header > div {
    display: flex;
    align-items: center;
    width: 30%;
}

.categoryBody__header > div > img {
    width: 5rem;
    height: 5rem;
    margin-right: 1rem;
}

.categoryBody__header h5 {
    font-size: 1rem;
}

.categoryBody > .categoriesBar {
    width: 90%;
    border-radius: 10px;
}

.categoryBody__content {
    display: flex;
    justify-content: space-between;
}
.categoryBody__content h3 {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.6rem;
    margin-bottom: .3rem;
}
.categoryBody__content .barChart__container {
    border: 2px solid var(--primary-color);
    border-radius: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 5rem;
}
.categoryBody__content .barChart__container .barChart {
    height: 12rem;
    width: 100%;
    background-color: rgba(0, 0, 0, .3);
}
.categoryBody__content .pieChart__container {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categoryBody__content .pieChart__container > img {
    margin: 2rem auto;
    width: 60%;
}

.categoryBody__content .pieChart__container > span {
    border-radius: 10px;
    padding: 1rem;
    width: 80%;
    border: 1px solid var(--primary-color);
    font-size: .9rem;
    margin-bottom: 1rem;
}

.categoryBody__content .speedometerContainer {
    padding: 2rem;
}

.categoryBody__content .speedometerContainer  img {
    width: 18rem;
    margin-bottom: 2rem;
}
.categoryBody__content .column2 {
    margin-right: 20%;
}

.categoryBody__content .column2 h3 {
    text-align: left;
}

.categoryBody__content .recommendation {
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    padding: 1rem;
    padding-bottom: 10rem;
    margin-bottom: 3rem;
}

.categoryBody__content .recommendation h5 {
    font-size: 1rem;
    font-weight: 500;
}

.categoryBody__content .recommendation ul {
    margin-left: 1rem;
    margin-top: 1rem;
}

.categoryBody__content .recommendation ul li {
    margin-bottom: .5rem;
}

.categoryBody__content .column2 > button {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    font-size: 1.1rem;
    border: none;
    outline: none;
    display: block;
    border-radius: 10px;
    margin-bottom: 1rem;
    justify-self: center;
    width: 100%;
    margin: 0 auto 1rem;
}

.categoryBody__content .column2 > button a{
    color: white;
    text-decoration: none;
}

.categoriesSection .fa-caret-down {
    font-size: 5rem;
    position: absolute;
    bottom:-1rem;
    left: 48%;
    color: var(--primary-color);
}

.caret-down-btn {
    position: absolute;
    left: 82.5%;
}

.categoryBody__content .column2 ul > button {
    font-size: 3rem;
    display: block;
    cursor: pointer;
    background-color: white;
    border: none;
    color: var(--primary-color);
    margin-bottom: 1rem;
}

.categoryBody__content button:nth-child(4) {
    width: 4rem;
}

.sustainabilityOutlook__categories > h2 {
    font-size: 1.4rem;
    margin-top: 3rem;
    margin-bottom: .3rem;
}
.sustainabilityOutlook__categories .row-1 {
    border: 1px solid var(--primary-color);
    padding: 1rem;
    position: relative;
    padding-bottom: 2rem;
    border-radius: 15px;
}

.sustainabilityOutlook__categories > .row-1 > div {
    display: flex;
    justify-content: space-between;
}

.sustainabilityOutlook__categories .column-1 {
    width: 40%;
}

.sustainabilityOutlook__categories .column-1 h4 {

}

.sustainabilityOutlook__categories .column-1 .imgContainer {
    background-color: rgba(240, 240, 240, .3);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    height: 12rem;
    margin-bottom: 1rem;
}

.sustainabilityOutlook__categories .column-1 img {
    border-radius: 15px;
    width: 50%;
}

.sustainabilityOutlook__categories .row-1 button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 1rem;
    position: absolute;
    bottom: .5rem;
    right: 2rem;
    cursor: pointer;
}

/* update */

.modal {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    width: 50%;
    margin: 0 auto;
    display: none;
    position: absolute;
    left: 25%;
    top: 20%;
    z-index: 1;
}

.modal > div {
    position: relative;
}

.modal h1 {
    text-align: center;
    font-size: 2rem;
}

.modal button {
    background-color: transparent;
    font-size: 3rem;
    color: white;
    border: none;
    outline: none;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
}

/* End of updates */

.partners__section {

}

.partners__section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.partners__section .partners {
    display: flex;
    justify-content: space-around;
    margin-bottom: 2rem;
}

.partners__section .partners .partner {
    display: flex;
    align-items: flex-end;
}

.partners__section .partners .partner h2 {
    font-size: 2rem;
    font-weight: 500;
}

.partners__section .partners img {
    width: 15rem;
    height: 5rem;
}

.home__CaretDown {
    left: 9rem;
    top: 14rem;
}

.enterInstructionHeader {
    margin-top: 4rem;
}

.selectFood__content {
    display: flex;
    justify-content: space-between;
}
.selectFood__content > .column1{
    width: 40%;
}
.selectFood__content > .column2 {
    margin-right: 10%;
}

.selectFood__container {
    border: 1px solid var(--primary-color);
    padding: 1rem;
    border-radius: 18px;
    width: 100%;
}

.selectFood__wrapper {
    width: 100%;
    position: relative;
}

.selectFood__wrapper .selectFood__carousel {
    width: 100%;
}

.selectFood__wrapper .item {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
}

.selectFood__wrapper .item .food1 {
    border: 1px solid lavender;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    margin-right: 12px;
    width: 45%;
}

.selectFood__wrapper .item .food1 > div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    cursor: pointer;
}

.selectFood__wrapper .item .food1 > div > button {
    width: 1.65rem;
    background-color: white;
    border: none;
}

.selectFood__wrapper .item .food1 > div > button > img {
    width: 100%;
}

.selectFood__wrapper .item img {
    width: 5rem;
    display: block;
    cursor: pointer;
}

.selectFood__wrapper .item h6 {
    margin: .5rem auto;
    font-size: .8rem;
}

.selectFood__wrapper .item .roundBtn {
    background-color: transparent;
    border: 1px solid lavender;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
}

.selectFood__wrapper .item .roundBtn.active {
    background-color: var(--primary-color);
}

.selectFood__wrapper .selectedFood-carousel-controls .prevFood,.nextFood{
    position: absolute;
    font-size: 2rem;
    color: gray;
    cursor: pointer;
    top: 45%;
    z-index: 1;
}

.selectFood__wrapper .selectedFood-carousel-controls .prevFood {
    left: -.8rem;
}

.selectFood__wrapper .selectedFood-carousel-controls .nextFood {
    right: -1rem;
}

.selectedFoods {
    display: flex;
    justify-content: space-between;
    margin-top: 5rem;
    align-items: center;
}

.selectedFoods > button {
    background-color: var(--primary-color);
    color: white;
    border-radius: 5px;
    padding: .5em 1rem;
    border: none;
    font-size: .9rem;
}

.selectedFood__container {
    border: 1px solid var(--primary-color);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 12px;
}

.selectedFood__container > img {
    width: 8rem;
}

.selectedFood__container > div {

}

.selectedFood__container > div > button {
    display: block;
    margin-bottom: 5px;
    font-size: 1.2rem;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.selectedFood__container > div >button  span {
    font-size: 3rem;
}
.selectedFood__container > div > button .wrong {
    color: red;
}
.selectedFood__container > div > button .correct {
    color: green;
}

.selectMeal {
    margin-top: 4rem;
}

.selectMeal h5 {
    font-size: 1rem;
    margin-bottom: .2rem;
}

.selectMeal select {
    width: 100%;
    padding: .5rem;
    border-radius: 5px;
}

.checkings {
    border-radius: 12px;
    border: 1px solid var(--primary-color);
    margin-top: 5rem;
    padding: 1rem;
}

.checkings h3 {
    text-align: center;
}

.checkings a {
    display: block;
    text-decoration: none;
    background-color: var(--primary-color);
    margin-bottom: 1rem;
    padding: 1rem;
    color: #fff;
    border-radius: 8px;
    position: relative;
}

.checkings a span {
    position: absolute;
    font-size: 2.5rem;
    right: 1rem;
    top: 0rem;
}

footer .row1 {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.dangerWarning {
    border-radius: 10px;
    padding: 2rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5rem;
    height: 69%;
    padding-top: 1.5rem;
}

.dangerWarning .dangerTriangle {
    background-color: white;
    width: 100%;
    height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    clip-path: polygon(48% 26%, 0 100%, 100% 100%);
    padding-top: 3rem;
    margin-top: -2rem;
}

.dangerWarning .dangerTriangle > .redBar {
    width: .6rem;
    height: 3rem;
    margin-left: -.2rem;
}

.dangerWarning .dangerText {
    margin-left: .5rem;
}
.dangerWarning .dangerText .fa-dollar-sign {
    color: white;
    font-size: 2.5rem;
    text-align: center;
    display: block;
    width: 100%;
    margin-bottom: .5rem;
}

.dangerWarning .dangerText p{
    color: white;
    font-size: .95rem;
}

.osi__content {
    align-items: flex-start;
}



.osi__content .column1{
    border: 1px solid lavender;
    padding: 1rem;
    margin-top: 2rem;
    border-radius: 8px;
}

.osi__content .column1 > h3 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
}
.osi__content .column2 .row-1 > div {
    background-color: rgba(0, 0, 0, .2);
    position: relative;
}

.osi__content .column2 .row-1 .column-1 > .imgContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
}

.osi__content .column2 .row-1 .column-1 > .imgContainer > h1 {
    font-size: 1.6rem;
    margin-top: -50%;
}

.osi__content .column2 .row-1 .column-1 > .imgContainer > img {
    width: 14rem;
    height: 14rem;
}

.osi__content .column2 .row-1 .column-1 h4 {
    position: absolute;
    top: -1.2rem;
}

.osi__content .column2 .row-1 > button {
    background-color: var(--primary-color);
    color: white;
    font-size: 1rem;
    padding: 5px 24px;
    border-radius: 5px;
    border: none;
    margin: 1rem auto 3rem;
    cursor: pointer;
    margin-left: 60%;
}

footer .row1 h3 {
    margin-bottom: 1rem;
}

footer .row1 a {
    text-decoration: none;
    color: black;
    margin-bottom: .8rem;
}

footer .row1 button {
    display: block;
    width: 10rem;
    padding: 10px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    outline: none;
    margin-bottom: .7rem;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
}

footer .row2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem;
    margin-top: 2rem;
}

footer .row2 a {
    color: white;
    text-decoration: none;
}

footer .row1 ul a {
    display: block;
}